.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh; /* Adjust the height as needed */
  padding-left: 50%;
  width: 100%;
}

.button-container {
  display: flex;
  /* flex-direction: row; */
  flex-grow: 1;
  /* align-items: center; */
  padding-left: 25%;
  /* width: 100%; */
}
